* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

header, footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#contingut {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3000px; 
    position: relative;
    overflow: hidden;
    background-color: #efdbcb;
}

.nuvol {
    position: absolute;
    height: 200px;
}
